@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
  background: #90A4AE;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.5);
}
nav a{
  margin: 10px;
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #03A9F4;
  font-family: Raleway, sans-serif;
  transition: 0.1s ease-out;
}
nav a:hover{
  color: #3498bd;
  border-color: #3498bd;
}
nav a i{
  margin-right: 3px;
}

@media (max-width: 767px){
  nav{
    justify-content: center;
  }
}
@media (max-width: 400px){
  nav{
    flex-direction: column;
    align-items: center;
  }
}
